body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.game-container {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cell {
  width: 100px;
  height: 65px;
  background-color: rgb(129, 129, 129);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.connected {
  background-color: #00f;
  color: rgb(248, 246, 246);
}

#reset-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: rgb(240, 234, 234);
  border: none;
  cursor: pointer;
}

#status {
  font-weight: bold;
}
